.cardsContainer {
  display: grid;
  display: flex;
  max-width: 100%;
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
}
