:root {
  font-family: "Kumbh Sans", sans-serif;

  --primary: #faeee7;
  --secundary: #bf7964;
  --back-buttom: #f0a68f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary);
}
